.side-bar
  .side-bar__username
    .side-bar__top-items
      %p.side-bar__top-items__name TAKUMI
      %ul.side-bar__top-items__icons
        %li.side-bar__top-items__icons__editbtn
          = link_to "#" do
            %i.fas.fa-edit
        %li.side-bar__top-items__icons__newbtn
          = link_to "#" do
            %i.fas.fa-cog      
  .side-bar__group-list
    %p.side-bar__group-list-name techcamp
    %p.side-bar__group-list-message まだメッセージはありません